html {
    height:100%;
}

body {
    position:relative;
    min-height:100%;
}

#wrapper {
    padding-top:80px;
    padding-bottom:150px;
}

#footer {
    position:absolute;
    height:150px;
    background-color:#37474F;
    bottom:0;
    width:100%;
    text-align:center;
}

#search {
    margin-top:8px;
}

.navbar {
    background-color:#263238;
    border-bottom:0px;
}

#left-nav {
    padding-left:10px;
}

#right-nav {
    padding-right:10px;
}

.modal-footer {
    margin-top:0px;
}

.img {
    position:relative;
    width:21vw;
    height:24vh;
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-size:cover;
    border-radius:10px;
    border:1px solid #263238;

}
