html {
    height:100%;
}

body {
    position:relative;
    min-height:100%;
}

#wrapper {
    padding-top:80px;
    padding-bottom:150px;
}

#footer {
    position:absolute;
    height:150px;
    background-color:#37474F;
    bottom:0;
    width:100%;
    text-align:center;
}

/*  font-family: 'Rationale', sans-serif;
    font-family: 'Roboto', sans-serif;*/

#search-div {
    margin-bottom:0px;
}

#search {
    margin-top:8px;
    width:150px;
    padding-right:22px;
}

.theme {
    font-family: 'Rationale', sans-serif;
}

.theme2 {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    font-size:30pt;
    font-family: 'Rationale', sans-serif;
    padding-left:45px;
    padding-right:25px;
}

.navbar {
    background-color:#263238;
    border-bottom:0px;
}

#left-nav {
    padding-left:10px;
}

#right-nav {
    font-size:12pt;
    margin-right:10px;
    font-family: 'Roboto', sans-serif;
}
#right-nav li a {
    padding-bottom:0px;
}

.modal-footer {
    margin-top:0px;
}

.img {
    position:relative;
    width:100%;
    height:24vh;
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-size:cover;
    border-radius:10px;
    border:1px solid #263238;
}

.portfolio-item {
    margin-bottom:10px;
    display:inline-block;
    width:33.33333%;
    
}

.portfolio-item h4 {
    margin-bottom:2px;
}

.well {
    font-family: 'Roboto', sans-serif;
    white-space:pre-wrap;
    word-wrap:break-word;
    margin-bottom:10px;
}

.post-meta {
    margin-top:10px;
    margin-bottom:-8px;
}

.thread-header {
    margin-top:0px;
    color:#263238;
}

.breadcrumb {
    display:inline-block;
    max-width:40%;
    margin-top:8px;
    margin-left:35px;
    margin-bottom:0px;
    padding-top:5px;
    padding-bottom:5px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    /*background-color:#263238;*/
}

.breadcrumb li {
    display:inline;
}

