{% load staticfiles %}
{% if results.count > 0%}
    {% if object == 'category' %}
        <!-- Projects Row -->
        <div class="row">
        {% for result in results %}
            <div class="col-md-4 portfolio-item">
                <a href="{% url 'threads' result.slug %}">
                    <div class="img" style="background-image:url('{{ MEDIA_URL }}{{ result.image }}');"></div>
                </a>
                <h4>
                    <a href="{% url 'threads' result.slug %}">
                    {{ result.name }}</a>
                </h4>
                <p>Most recent post. Number of new posts sice last visit.</p>
            </div>
        {% endfor %}
        </div>
        <!-- /.row -->
    {% elif object == 'thread' %}
        {% for result in results %}
        <li><a href="{% url 'thread' category_slug result.slug %}">
        {{ result.name }}</a></li>
        {% endfor %}
    {% elif object == 'post' %}
        {% for result in results %}
        <li><a href="#">{{ result.text }}</li></a>
        {% endfor %}
    {% endif %}
{% else %}
    <li><p>No results found.</p></li>
{% endif %}