<!DOCTYPE html>
{% load staticfiles %}
<html>
<!-- meta information and title -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Jack Dituro">
    <!-- <link rel="icon" href="{% static 'images/favicon.ico' %}"> -->
    <title>{% block title %}{% endblock title %}</title>
    <link href="https://fonts.googleapis.com/css?family=Rationale|Roboto" rel="stylesheet"> 
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/simplemde.min.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static "js/simplemde.min.js" %}"></script>
</head>
<!-- html Body -->
<body>
<div id="wrapper"> <!-- Wrapper used to divide body into (wrapper,footer). So we can push footer to bottom with css -->



    <!-- Nav bar section -->
 <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
      <a class="navbar-brand" href="{% url 'categories' %}">WWSC</a>
    </div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <!-- Seach bar section -->
    <ul class="nav navbar-nav {% block searchbar-class %}{% endblock %}">
     {% csrf_token %}
     <div id="search-div" class="form-group has-success has-feedback">
         <input type="text" id="search" class="form-control input-sm" name="search" value="{% block search_val %}{% endblock %}" placeholder="Filter"/>
         <i id="searchIcon" class="glyphicon glyphicon-search form-control-feedback"></i>
     </div> 
     <!-- special field to identify the type of search (based on current page) -->
     <!-- utilizes the value block to add attribute to element -->
     <input type="hidden" id="SearchType" name="SearchType" {% block SearchType %}{% endblock SearchType %}/>
     <input type="hidden" id="SearchCategory" name="SearchCategory" {% block SearchCategory %}{% endblock SearchCategory %}/>
    </ul>
    <!-- End of Seach bar section -->
     <ul id="left-nav" class="nav navbar-nav theme2">
       <li><a href="#">Home</a></li>
       <li><a href="#">Page 1</a></li>
       {% if user.is_authenticated %}
       <li><a href="{% url 'conversations' user %}">Messages</a></li>
       {% endif %}
     </ul>
        <!-- right navbar section -->
     <ul class="nav navbar-nav navbar-right">
     <!--    <li>
             <a href="#">About</a>
         </li>
         <li>
             <a href="#">Contact</a>
         </li>-->
      <ul id="right-nav" class="nav navbar-nav navbar-right">
          <!-- special options if user is authenticated -->
          {% if user.is_authenticated %}
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> {{ user.username }}<span class="caret"></span></a><ul class="dropdown-menu">
             <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
             <li><a href="{% url 'password_change' %}"><span class="glyphicon glyphicon-log-out"></span> Change Password</a></li>
          {% else %}
          <!-- special options if user is not authenticated -->
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> <span class="caret"></span></a><ul class="dropdown-menu"> 
                  <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                  <!--<li><a href="{ url 'forum:register' }"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>-->
             <li><a href="#" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% endif %}
          </ul></li>
          <!-- <li><a href="#">second item</a></li> -->
      </ul>
     </ul>
</div>
    <!-- end of right navbar section -->
  </div>
</nav> 
    
     <!-- End of navbar section -->



<!-- login modal -->
<div id="loginModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Login</h2>
            </div>
            <div class="modal-body">
                <form class="form-inline" onsubmit="return false;">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="username" class="form-control" id="username" placeholder="Enter username">
                </div>
                <div class="form-group pull-right">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter password">
                </div>
            </div>
            <div id="login-result-div" style="padding-left:15px">
                <div class="text-info invisible"><p>Placeholder</p></div>
            </div>
            <div class="modal-footer checkbox">
                <a class="pull-left" style="margin-top:7px" href="{% url 'register' %}">Don't have an account?</a>
                <label style="margin-right:20px;"><input type="checkbox" value="True" id="remember"> Remember me</label>
                <button class="btn" onclick="AuthenticateUser()">Login</button>
                <input type="hidden" name="next" value="#" />
            </div>
            </form>
        </div>
        <!-- end of modal content -->
    </div>
</div> <!-- end of login modal -->
<!-- JS section -->
<script> 
$(function() {
    $('#login-result-div').bind('DOMNodeInserted', function() {
        if ($('#login-result').hasClass('success')) {
            $(location).attr('href', {% url 'categories' %});
        } else if ($('#login-result').hasClass('fail')) {
            // Don't clear #username, like 'sticky form'
            //$('#username').val("");
            $('#pwd').val("");
       // } else {
        }
    });
});
</script>
<!-- End of JS sections -->
<div class="row">
    <div class="col-md-12 breadcrumb-div">
     <ul class="breadcrumb" style="display:inline-block;">
        {% block breadcrumbs %}
        {% endblock breadcrumbs %}
     </ul>
    </div>
</div>
<!-- body block section for unique page content is here -->
<div class="row">
    <div class="col-md-2 col-sm-0 col-xs-0"></div>
    <div class="col-md-8 col-sm-12 col-xs-12 clearfix">
    {% block content %}
    {% endblock content %}
    </div>
    <div class="col-md-2 col-sm-0 col-xs-0"></div>
</div>
<!-- End of unique page content -->
</div> <!-- End of Wrapper div -->
<!-- Page footer (inside of body, below the wrapper. -->
<div id="footer">
    <p>This is my footer. Please show up at the bottom of the page.</p>
</div>
<!-- End of page Footer -->
<!-- some JS at bottom so page loads faster -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static "js/ajax.js" %}"></script>
</body> <!-- End of Body -->
</html>