{% extends 'forum/base.html' %}
{% load staticfiles %}
{% load tag_filter_extra %}
{% block title %}categories{% endblock title %}
     {% block breadcrumb %}
     <ul class="breadcrumb" style="display:inline-block;">
            <li class="breadcrumb-item active">Home</li>
     </ul>
     {% endblock breadcrumb %}
<!-- block to update value property of element -->
{% block SearchType %}value="category"{% endblock SearchType %}
{% block content %} 
<div class="row">
    <div class="row">
        <div class="col-md-6">
            <h2 style="padding-left:12px;">Topics</h2>
        </div>
        <div class="col-md-6">
            {% if user.is_authenticated %}
            <h2><small>
            <a href="{% url 'category_add' %}">
            <span class="glyphicon glyphicon-plus pull-right" style="padding-right:12px; padding-top:10px;"></span>
            </a></small></h2>
            {% endif %}
        </div>
    </div>
    <div class="row"><div class="col-md-12"><hr style="margin-top:0px; margin-left:12px; margin-right:12px;"></div></div>
</div>
<div id="search-results">
    {% if categories %}
        {% category_tiles %}
    {% else %}
        <p>There are no categories to display.</p>
    {% endif %}
</div>
<br/>
<br/>

{% endblock content %}