{% load tag_filter_extra %}
<!-- Tiled Row -->
<div class="row">
{% for category in categories %}
    <div class="col-md-4 portfolio-item">
        <a href="{% url 'threads' category.slug %}">
            <div class="img" style="background-image:url('{{ MEDIA_URL }}{{ category.image }}');"></div>
        </a>
        <h4>
            <a style="font-family:deja vu sans;" href="{% url 'threads' category.slug %}">
            {{ category.name }}</a>
        </h4>
           <p>{{ category.num_threads }} Threads. {{ category.num_posts }} Posts.
           <span class="glyphicon glyphicon-time"></span> {{ category.most_recent_post|time_since }}
           </p>
       <!-- <p>One line description.</p> i-->
    </div>
{% endfor %}
</div>
<!-- /.row -->