{% extends 'forum/base.html' %}
{% block title %}categories{% endblock title %}
<!-- block to update value property of element -->
{% block SearchType %}value="category"{% endblock SearchType %}
{% block content %}
<ul id="search-results">
    {% if categories %}
        {% for category in categories %}
        <li><a href="{% url 'threads' category.slug %}">
                    {{ category.name }}</a></li>
        {% endfor %}
    {% else %}
        <li><p>There are no categories to display.</p></li>
    {% endif %}
</ul>
<div>
    <a href="{% url 'category_add' %}">Create new Category</a>
</div>
{% endblock content %}