{% extends 'forum/base.html' %}
{% block title %}posts{% endblock title %}
{% block searchbar-class %}hidden{% endblock searchbar-class %}
<!-- block to update value property of element -->
{% block breadcrumbs %}
   <li class="breadcrumb-item"><a href="{% url 'categories' %}">Topics</a></li>
   <li class="breadcrumb-item"><a href="{% url 'threads' category.slug %}">{{ category.name }}</a></li>
   <li class="breadcrumb-item active">{{ thread.name }}</li>
{% endblock breadcrumbs %}
{% block value %}value="post"{% endblock value %}
{% block content %}
<br/>
{% if posts %}
<div class="row">
<div class="col-md-1 col-sm-2 col-xs-1"></div>
<div class="col-md-10 col-sm-8 col-xs-10">
 <div id="search-results">
    {% for post in posts %}
        {% spaceless %}
        <div class="well well-sm">{% if forloop.first and post == initial_post %}<h2 class="thread-header">{{ post.thread.name }}</h2>{% endif %}{{ post.text|safe }}
          <div class="post-meta small text-muted">
            <span id="left-post-meta">
              {{ post.author }} | rank {{ post.author.profile.rank }} | {{ post.created_date }}
              {% if user.is_authenticated and user != post.author %} | 
                <a href="{% url 'conversation' request.user post.author %}"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> 
              {% endif %}
            </span>
            <span id="right-post-meta">
                {% if user.is_authenticated and not user in post.liked_by.all and user != post.author %}
                  <span id="{{ post.id }}-like">
                    <a href="#" onclick="like_post({{ post.pk }}, 'like')"><span class="glyphicon glyphicon-thumbs-up"></span></a> 
                    <a style="margin-left:10px;" href="#" onclick="like_post({{ post.pk }},'dislike')"><span class="glyphicon glyphicon-thumbs-down"></span></a>
                  </span>
                {% endif %}
              <span style="padding-left:15px;" id="{{ post.id }}"> {{ post.likes }}</span></div>
            </span>
        </div>
        {% endspaceless %}
    {% endfor %}
  </div>
{% endif %}
{% if user.is_authenticated %}
<form method="POST" class="post-form" action=
      "{% url 'thread' category.slug thread.slug %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" id="submit-post" class="save btn ">Submit Post</button>
</form>
{% endif %}
  <div class="bot-pagination">
    <ul class="pagination pagination-sm">
    {% if posts.has_other_pages %}
        {% if posts.has_previous %}
            <li><a href="?page={{ posts.previous_page_number }}"><</a></li>
        {% endif %}
        {% for page_num in paginator.page_range %}
            {% if page_num == posts.number %}
                <li class="active"><a>{{ page_num }}</a></li>
            {% else %}
                <li><a href = "?page={{ page_num }}">{{ page_num }}</a></li>
            {% endif %}
        {% endfor %}
        {% if posts.has_next %}
            <li><a href="?page={{ posts.next_page_number }}">></a></li>
        {% endif %} 
    {% endif %}
    </ul>
  </div>
 </div>
<div class="col-md-1 col-sm-2 col-xs-1"></div>
</div>
<script>
    var simplemde = new SimpleMDE({ 
        element: document.getElementById("id_text"),
        autosave: {enabled:true, uniqueId:"forum_post", delay:30000,},
        toolbar:(["bold","italic","quote","|","unordered-list",
          "ordered-list","|","table","code","|","link","image","|",
          "preview","side-by-side","fullscreen","|","guide"]),
        hideicons:["fullscreen",],
        placeholder:"Message",
        forceSync:true,
    });
function like_post(pk, type) {
    /* Uses Ajax to send POST information to be processed by a view. The view
    sends back a json object with a string in jason.result.
    "pk" is the primary-key of the specific post where the like was clicked.
    "type" specifies whether this was a (like or dislike) */
    $.ajax({
        type: "POST",
        url: "/forum/like-post/",
        datatype: "json",
        async: true,
        data: {
            csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
            user_pk: {{ user.pk }},
            post_pk: pk,
            type: type,
            //post_pk: $('#post_id').val(),
        },
        success: function (json) {
            $('#'+json.post_pk).html(json.likes);
            $('#'+json.post_pk+'-like').hide();
        }
    });
    //$('#login-result-div').html('<div id="login-result" class="alert alert-info"><p>Attempting to login...</p></div>');
}
</script>
{% endblock content %}