{% extends 'forum/base.html' %}
{% block title %} threads{% endblock title %}
<!-- block to update value property of element -->
    {% block SearchType %}value="thread"{% endblock SearchType %}
    {% block SearchCategory %}value="{{ category.slug }}"{% endblock SearchCategory %}
{% block content %}
{% if threads %}
<ul id="search-results">
    {% for thread in threads %}
    <li><a href="{% url 'thread' category.slug thread.slug %}">
                {{ thread.name }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% if user.is_authenticated %}
<div>
    <a href="{% url 'thread_add' category.slug %}">Create new Thread</a>
</div>
{% endif %}
{% endblock content %}