{% extends 'forum/base.html' %}
{% block title %} posts{% endblock title %}
{% block searchbar-class %}hidden{% endblock searchbar-class %}
<!-- block to update value property of element -->
{% block breadcrumbs %}
   <li class="breadcrumb-item"><a href="{% url 'categories' %}">Topics</a></li>
   <li class="breadcrumb-item"><a href="{% url 'threads' category.slug %}">{{ category.name }}</a></li>
   <li class="breadcrumb-item active">{{ thread.name }}</li>
{% endblock breadcrumbs %}
{% block value %}value="post"{% endblock value %}
{% block content %}
<br/>
{% if posts %}
<div class="row">
<div class="col-md-1 col-sm-2 col-xs-1"></div>
<div class="col-md-10 col-sm-8 col-xs-10">
 <div id="search-results">
    {% for post in posts %}
        <div class="well well-sm">{% if forloop.first %}<h2 class="thread-header">{{ post.thread.name }}</h2>{% endif %}{{ post.text|safe }}
  <div class="post-meta small text-muted">{{ post.author }} | {{ post.created_date }} | <a href="{% url 'new_conversation' request.user post.author %}">message</a></div></div>
    {% endfor %}
  </div>
{% endif %}
{% if user.is_authenticated %}
<form method="POST" class="post-form" action=
      "{% url 'thread' category.slug thread.slug %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" id="submit-post" class="save btn ">Submit Post</button>
</form>
{% endif %}
  <div class="bot-pagination">
    <ul class="pagination pagination-sm">
    {% if posts.has_other_pages %}
        {% if posts.has_previous %}
            <li><a href="?page={{ posts.previous_page_number }}"><</a></li>
        {% endif %}
        {% for page_num in paginator.page_range %}
            {% if page_num == posts.number %}
                <li class="active"><a>{{ page_num }}</a></li>
            {% else %}
                <li><a href = "?page={{ page_num }}">{{ page_num }}</a></li>
            {% endif %}
        {% endfor %}
        {% if posts.has_next %}
            <li><a href="?page={{ posts.next_page_number }}">></a></li>
        {% endif %} 
    {% endif %}
    </ul>
  </div>
 </div>
<div class="col-md-1 col-sm-2 col-xs-1"></div>
</div>
<script>
    var simplemde = new SimpleMDE({ 
        element: document.getElementById("id_text"),
        autosave: {enabled:true, uniqueId:"forum_post", delay:30000,},
        toolbar:(["bold","italic","quote","|","unordered-list",
          "ordered-list","|","table","code","|","link","image","|",
          "preview","side-by-side","fullscreen","|","guide"]),
        hideicons:["fullscreen",],
        placeholder:"Message",
        forceSync:true,
    });
</script>
{% endblock content %}