
{% extends 'forum/base.html' %}
{% block content %}
 <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'categories' %}">Topics</a></li>
    <li class="breadcrumb-item"><a href="{% url 'threads' category.slug %}">{{ category.name }}</a></li>
    <li class="breadcrumb-item active">New Thread</li>
 </ul>
<h4>New Thread</h4>
<form method="POST" class="post-form" action=
      "{% url 'thread_add' category.slug %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ thread_form.as_p }}
    {{ post_form.as_p }}
    <button type="submit" class="save btn btn-default">Submit</button>
</form>
<!-- if form errors exist, then display them per rango -->
<script>
    var simplemde = new SimpleMDE({ 
        element: document.getElementById("id_text"),
        autosave: {enabled:true, uniqueId:"forum_post", delay:30000,},
        toolbar:(["bold","italic","quote","|","unordered-list",
          "ordered-list","|","table","code","|","link","image","|",
          "preview","side-by-side","fullscreen","|","guide"]),
        hideicons:["fullscreen",],
        placeholder:"Message",
        forceSync:true,
    });
</script>
{% endblock content %}
