{% extends 'forum/base.html' %}
{% block content %}
 <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'categories' %}">Topics</a></li>
    <li class="breadcrumb-item"><a href="{% url 'threads' category.slug %}">{{ category.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'thread' category.slug thread.slug %}">{{ thread.name }}</a></li>
    <li class="breadcrumb-item active">Edit</li>
 </ul>
<form method="POST" class="post-form" action=
      "{% url 'thread_edit' category.slug thread.slug %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Submit</button>
</form>
<!-- if form errors exist, then display them per rango -->
{% endblock content %}
